@(user: Option[model.User])
@main("This is my Main Page",user) {
  
        <h1 class="mt-5">Finally you can eat right</h1>
      <p class="lead">
		  Nyam Up allows you to eat properly based on your dietary constraints. You are able to plan daily meals and select excercises accordingly.
		   
      </p>
      <p class="mt-5" align='center'>
		          <img src='@routes.Assets.versioned("images/eatingchart.png")' height="400px" width="400px"> 
	 </p>


<p>
	

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis diam dolor, at cursus purus suscipit eget. Praesent fermentum dui vitae consectetur convallis. In suscipit gravida congue. Pellentesque tristique augue non interdum maximus. Proin orci purus, tristique in dapibus vitae, cursus in ipsum. Vivamus felis augue, facilisis vel eros at, sollicitudin eleifend leo. Donec rhoncus eros et libero accumsan accumsan. Vivamus gravida faucibus metus eu condimentum. Phasellus in turpis dui. Phasellus dignissim vehicula ipsum sit amet pretium. Vivamus ac ullamcorper diam, a consequat sem. Quisque tempus scelerisque neque, in dapibus magna viverra a.

Proin non erat tincidunt ante feugiat fringilla sit amet vitae diam. Phasellus rutrum, est sed imperdiet tempus, orci leo bibendum felis, sit amet cursus ligula elit vitae odio. Fusce suscipit nisl velit, et accumsan lorem volutpat at. Integer vestibulum ultricies justo scelerisque aliquet. Praesent vitae bibendum odio. Vivamus vehicula lorem vel fermentum ullamcorper. Pellentesque luctus purus quis euismod efficitur. Praesent tempor iaculis nisi, eget cursus nisi lacinia ut. Duis sed dolor ut massa sodales scelerisque. Curabitur vitae purus nisi. Suspendisse a volutpat tellus, eu consectetur turpis. Phasellus rutrum mi a odio mattis luctus. Vestibulum facilisis neque ut enim lacinia, id vehicula quam feugiat.

Maecenas sit amet scelerisque felis, non interdum tellus. Vestibulum et feugiat augue. Nam iaculis, dui mattis lobortis vestibulum, metus metus rutrum ligula, vel elementum lacus purus hendrerit libero. Donec in euismod nunc, sed imperdiet felis. Mauris quam odio, rhoncus id tellus eget, gravida porttitor eros. Nulla vehicula risus non congue iaculis. Nullam quam nibh, molestie eu varius a, elementum in tellus. Pellentesque ut enim volutpat odio rhoncus venenatis eu in ligula. Maecenas tempus tempus sapien, lobortis lobortis quam posuere nec. Morbi tempus sodales sagittis. Nunc consectetur velit arcu, non auctor est efficitur vitae. In hac habitasse platea dictumst. Donec scelerisque odio non nulla viverra, et hendrerit nulla vulputate. Sed lacinia euismod orci, et sollicitudin odio scelerisque a. Aenean sed magna quis magna sagittis porttitor a vitae neque.

Sed iaculis, arcu a hendrerit euismod, orci urna placerat dolor, at feugiat sem nunc vitae ante. Etiam eu nulla sit amet magna egestas aliquet. Praesent posuere ac lacus a sodales. In dapibus bibendum metus quis sollicitudin. Praesent id mauris quis risus porttitor aliquet. Mauris nec lacus gravida, condimentum diam ut, blandit ligula. Ut congue justo in purus pharetra pretium aliquet id justo. Aenean in leo vel massa vulputate ornare. Proin venenatis lacus nec metus volutpat pretium. Nam vehicula nulla et mauris elementum dapibus. Proin molestie lorem vitae mauris efficitur laoreet. Maecenas non elit fringilla, scelerisque mauris vel, malesuada neque.

Nulla ac dolor mauris. Integer justo mauris, hendrerit in dictum vel, accumsan eu nisi. Etiam feugiat tempus enim id interdum. Praesent nec velit in massa egestas bibendum sed at lacus. Vivamus ut urna ut metus rhoncus facilisis. Donec volutpat diam lectus, ac sagittis lorem luctus eu. Cras varius urna sit amet tellus elementum congue. Aliquam convallis sapien eget sollicitudin feugiat. 

</p>




}
