@(title: String,user: Option[model.User])(content: Html)
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <title>@title</title>

    <!-- JqueryUI CSS -->
 
     <link rel="stylesheet" href="@routes.Assets.versioned("vendor/jqueryui/jquery-ui.min.css")">

    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="@routes.Assets.versioned("vendor/bootstrap/css/bootstrap.min.css")">
   

    <!-- Bootstrap core JavaScript -->
    <script src="@routes.Assets.versioned("vendor/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

    <!-- JQueryUI JavaScript -->
    <script src="@routes.Assets.versioned("vendor/jqueryui/jquery-ui.min.js")"></script>


  <!-- Chartjs JavaScript -->
   <script src="@routes.Assets.versioned("vendor/chartjs/Chart.min.js")"></script>
      <script src="@routes.Assets.versioned("vendor/chartjs/utils.js")"></script>


      <!-- MomentJS -->
      <!-- <script src="@routes.Assets.versioned("vendor/moment/moment.js")"></script> -->
      <script type = "text/JavaScript" src = "https://MomentJS.com/downloads/moment.js"></script>

 <script src="@routes.Assets.versioned("js/main.js")" ></script>
   





<link rel="Shortcut Icon" href='@routes.Assets.versioned("images/favicon.png")' >
    <!-- Bootstrap core CSS -->
     <!-- Bootstrap core CSS -->
   

     <!-- Custom styles for this template -->
          <link rel="stylesheet" href="@routes.Assets.versioned("css/sticky-footer-navbar.css")">
          <link rel="stylesheet" href="@routes.Assets.versioned("css/mytweaks.css")">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      
      <nav class="navbar navbar-expand-md fixed-top navbar-light" style="background-color: #badc58;">
     <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"> -->
        <img src='@routes.Assets.versioned("images/eat.png")'> &nbsp;<a class="navbar-brand" href="@routes.Application.index">Nyam Up</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">How it Works<span class="sr-only">(current)</span></a>
            </li>

              @if(!user){
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
              }

          </ul>



            @if(user){
            <b>Hi, <a href="/editprofile">@user.get.firstname @user.get.lastname </a></b> &nbsp;&nbsp;
            <a class="btn btn-success my-2 my-sm-0" href="/logout" >Log Out</a> &nbsp;
           }else{
            <a class="btn btn-success my-2 my-sm-0" href="@routes.Application.login()" >Log In</a> &nbsp;
            <a class="btn btn-primary	 my-2 my-sm-0" href="@routes.Application.register">Sign Up</a>
            }



         <!-- <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      @content
      <br />
    </main>

    <footer class="footer bg-dark" >
       
      <div class="container">
        <div class="row">
          <div class="col col-md-6">
            <br />

         <a href="#" class="mainlink">Getting Started</a> <br />
                <a href="#" class="mainlink">Terms and Conditions</a> <br />
                <a href="#" class="mainlink">Privacy Policy</a> <br />
 
                <a href="#" class="mainlink">About Us</a>  <br />
                <a href="#" class="mainlink">Contact Us</a> <br />
     </div>

  <div class="col col-md-6">
       <br />
                        <i class="fab fa-facebook-f"></i> <a href='#' class="mainlink">Facebook </a><br />
                       <i class="fab fa-google-plus-g"></i>   <a href='#' class="mainlink">Google+ </a>   <br />
                        <i class="fab fa-twitter"></i> <a href='#' class="mainlink">Twitter </a><br />

     </div>

     </div>
             
        
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <!-- Bootstrap core JavaScript -->
  <!--   <script src="@routes.Assets.versioned("compiled/bundle.js")" ></script> -->
    
   <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
   <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
   <!-- <script src="../../assets/js/vendor/popper.min.js"></script> -->
   <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
  </body>
</html>
