@(recipe: Option[model.Recipe], ingredients: Array[String],instructions: Array[String])
@main("Create Recipe") {

        <div class="col-lg-9">

      <div class="row">
           @if(recipe){
               @recipe.get.name <br />
               @recipe.get.description <br /> 
               sdfsdfsdf
              <p> 
                @for(ingredient <- ingredients){
           @ingredient <br />
                }
              </p>
<br />
<br />
<br />

             <p> 
                @for(instruction <- instructions){
           @instruction <br />
                }
              </p>




               }else{
                  No Recipe!!!               
               }
      </div>

        </div>
        <!-- /.col-lg-9 -->
}
